@media (max-width: 959px) {
    .global-ui {
        padding-left: 2rem;
    }
}

@media (max-width: 419px) {
    .global-ui {
        padding-left: 1.5rem;
    }
}

.page-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}